body {
    background-color: #a3d334;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #2d572c;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.form {
    padding-top: 20px;
    align-items: center;
    text-align: center;
}
.input, label {
    margin-bottom:20px;
}

.menuform {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fbda77;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

#descripcioEsd {
    width: 50%;
    height: 30%;
}